@using MyNUnitWeb.Models;
@model IEnumerable<MyNUnitWeb.Models.TestReportModel>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MyNUnit</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <main role="main" style="margin-top: 10rem">
        <div style="margin-bottom: 4rem">
            <h3>Assemblies:</h3>
            <form asp-action="AddAssembly" enctype="multipart/form-data">
                <input type="file" name="file" accept=".dll" />
                <input type="submit" value="Upload" />
            </form>

            <form asp-action="ExecuteTests" method="post">
                <input type="submit" value="Run" class="btn btn-primary btn-lg" />
            </form>
            <form asp-action="Delete" method="post">
                <input type="submit" value="Delete" class="btn btn-primary btn-lg" />
            </form>
            <a asp-action="Archive">Archive</a>
        </div>
        <div class="col-sm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Result</thscope="col">
                        <th scope="col">Ignore reason</th>
                        <th scope="col">Time</th>
                        <th scope="col">Assembly</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (MyNUnitWeb.Models.TestReportModel p in Model)
                    {
                        var result = "";
                        var ignoreReason = "";
                        var time = "";
                        if (p.Passed == true)
                        {
                            result = "Success";
                            time = p.Time.ToString();
                        }
                        if (p.Passed == false)
                        {
                            result = "Failed";
                            time = p.Time.ToString();
                        }
                        if (p.Passed == null)
                        {
                            ignoreReason = p.WhyIgnored;
                            result = "Ignored";
                        }
                        <tr>
                            <td>@p.Name.Split(',')[2]</td>
                            <td>@result</td>
                            <td>@ignoreReason</td>
                            <td>@time</td>
                            <td>@p.Name.Split(',')[0]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
